# Telegram
BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
TELEGRAM_BOT_USERNAME=slotik_tech_bot

# Frontend URL (для ссылок в боте, slug бани добавляется автоматически)
FRONTEND_URL=https://slotik.tech

# Server
PORT=3000
NODE_ENV=development

# Deploy
DEPLOY_HOST=185.255.132.151
DEPLOY_USER=root
DEPLOY_PATH=/opt/reservation-service
